.swiper-slide {
  width: 100%;
  height: 500px;
  /* z-index: 1; */
  backdrop-filter: blur(120px);
}
.banner-img-cover {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}
