/* .navbar { */
/* max-width: 100%; */
/* background: rgba(0, 0, 0, 0.4); */
/* background-color: #000; */
/* @apply h-28 flex justify-between items-center px-6 fixed top-0 z-10 shadow-md; */
/* } */
.navList {
  @apply flex flex-col md:flex-row md:gap-10 items-center gap-4 text-white;
}
.navbar li {
  @apply text-lg font-normal;
}
.navSocial {
  @apply flex items-center md:gap-10 gap-6 text-white;
}
.site-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Cinzel", serif;
  color: #ff2f2f;
}
.site-name h1,
.site-name h3 {
  color: rgb(255, 47, 47);
}
.active {
  @apply border-b-2 border-red-500;
}
